.container {
        display: flex;
        margin-bottom: 0;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

.header {
    color: #FFF;
    padding: 1rem;

}